* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #F6E7D8;
}

/*header comun*/

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.header__logo img{
  border-radius: 50%;
  width: 60px;
}

.barra__navegacion .barra__navegacion__derecha .navegacion-link {
  color: blue;
}

/*pagina inicio*/

.main__section1 {
  display: flex;
  height: 50vh;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.section1__titulo {
  width: 50%;
  align-self: center;
  font-size: 50px;
  padding: 5%;
}

.section1__imagen {
  width: 50%;
  object-fit: cover;
}

.main__section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.section2__laterales {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2__laterales figure {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
}

.section2__laterales figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.section2__laterales figure img:hover {
  transform: scale(1.3);
}

.section2__laterales h3 {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
}

.section2__centro img {
  width: 30px;
}

.section2__centro .flecha__de {
  animation-name: efecto;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.section2__centro .flecha__izq {
  animation-name: efecto2;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes efecto2 {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-10px);
  }
}

@keyframes efecto {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(10px);
  }
}

.section2__centro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section2__centro p {
  text-transform: uppercase;
  font-weight: bold;
}

.section2__centro .flecha__arriba,
.section2__centro .flecha__abajo {
  display: none;
}

.main__section3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50vh;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.main__section3 p {
  width: 50%;
  min-height: 70px;
  font-size: 30px;
  font-weight: 700;
  padding: 20px;
}

.main__section3 iframe {
  width: 40%;
  height: 300px;
  margin: 20px;
  border: 3px solid black;
}

.main__section4 {
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  margin-bottom: 20px;
}

.main__section4 h2 {
  align-self: center;
  font-size: 30px;
  grid-column: 1 / 3;
}

.section4__compromisos {
  width: 70%;
}

.section4__compromisos img {
  width: 70px;
  height: 70px;
}

.section4__compromisos figcaption {
  font-size: 25px;
}

.section4__compromisos p {
  text-align: justify;
}

.section4__compromisos figure {
  text-align: center;
}

/*footer comun*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
  min-height: 150px;
}

.footer__izq ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.footer__izq a {
  text-decoration: none;
  color: black;
}

.footer__derecha img {
  width: 30px;
  height: 30px;
}

.secciones--color:hover {
  color: blueviolet;
}

/*pagina productos*/

.main__superior {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.productos-titulo {
  color: white;
  padding: 18px;
  text-align: center;
}

.seleccion__tipo {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-bottom: 20px;
}

.main__mascotas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.main__mascotas h2 {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  grid-column: 1 / 4;
}

.mascotas__productos {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.mascotas__productos:hover {
  transform: scale(1.1);
}

.productos__imagen {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.productos__descripcion2 {
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.productos__descripcion2 p {
  margin-right: 5px;
}

.productos__descripcion2 :nth-child(1) {
  font-weight: 700;
}
/*pagina empresa*/

.main--posicionado {
  width: 80%;
  margin: 10px auto;
}

.main__articulo {
  width: 80%;
  margin: 0 auto;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main--poisicionado h1 {
  font-size: 30px;
}

.main__articulo figure {
  margin: 20px 20px;
}

.articulo__imagen {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.articulo__parrafo {
  font-size: 20px;
  margin: 10px;
  text-align: justify;
}

/*pagina contacto*/

.main__formulario {
  width: 80%;
  min-height: 65vh;
  margin: 20px auto;
}

.contenedor__formulario {
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffead3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.contenedor__formulario p {
  text-align: center;
}

.contenedor__formulario form div {
  padding: 2em;
}

.contenedor__formulario form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contenedor__formulario form .formulario--area {
  grid-column: 1 / 3;
}

.contenedor__formulario form input,
.contenedor__formulario form button,
.contenedor__formulario form select,
.contenedor__formulario form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid orange;
}

.contenedor__formulario form button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #c02425 0%, #f0cb35 75%);
}
.contenedor__formulario form button:hover {
  background-position: right center;
}
.contenedor__formulario form button:active {
  top: 2px;
}



/*pagina faqs*/

.main__preguntas {
  width: 80%;
  margin: 0 auto;
}

.main__titulo {
  margin-top: 15px;
  margin-bottom: 15px;
}

.main__faqs {
  width: 80%;
  margin: 0 auto;
}

.faqs__preguntas {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #874356;
}

.faqs__respuestas {
  margin-bottom: 20px;
  text-align: justify;
}

.faqs__respuestas ul {
  list-style: none;
}

.faqs__respuestas ul li {
  margin: 10px;
}

/*pagina cesta*/
.main__cesta {
  width: 80%;
  min-height: 70vh;
  margin: 0 auto;
}

.main__cesta h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.contenedor__cesta {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}

.cesta__contenido {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
}

.cesta__contenido dl dt {
  padding: 0 10px 0 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.cesta__contenido dl dd {
  text-align: center;
  font-size: 18px;
}

.cesta {
  border-radius: 10px;
  background-color: #ffead3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.cesta__imagen {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.aside__cesta {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr;
  overflow: hidden;
}

.cesta__total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cesta__total dt {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.cesta__total dd {
  font-size: 18px;
}

.total--abajo {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid black;
}

.cesta__total button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #c02425 0%, #f0cb35 75%);
}
.cesta__total button:hover {
  background-position: right center;
}
.cesta__total button:active {
  top: 2px;
}

@media screen and (max-width: 1023px) {

  /*header tablet*/
  .header {
    flex-direction: column;
  }

  /*pagina inicio tablet*/
  .section1__titulo {
    font-size: 26px;
  }

  .main__section2 {
    flex-direction: column;
    gap: 20px;
  }

  .section2__laterales--reves {
    flex-direction: column-reverse;
  }

  .section2__laterales--reves h2 {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .section2__centro {
    flex-direction: column;
  }

  .section2__centro .flecha__izq,
  .section2__centro .flecha__de {
    display: none;
  }

  .section2__centro .flecha__arriba,
  .section2__centro .flecha__abajo {
    display: block;
  }
  
  .section2__centro .flecha__abajo {
    animation-name: efecto;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .section2__centro .flecha__arriba {
    animation-name: efecto2;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  @keyframes efecto2 {
    0% {
      transform: translateY(0px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes efecto {
    0% {
      transform: translateY(0px);
    }
  
    100% {
      transform: translateY(10px);
    }
  }

  .main__section3 {
    flex-direction: column;
    height: 60vh;
    gap: 20px;
    padding: 20px;
  }

  .main__section3 p {
    width: 100%;
  }

  .main__section3 iframe {
    width: 80%;
    margin: 0;
  }
  
  .main__section4 {
    margin-bottom: 20px;
  }

  .main__section4 h2 {
    width: 80%;
  }

  /*pagina productos tablet*/
  .seleccion__tipo {
    flex-direction: column;
    gap: 20px;
  }

  .main__mascotas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr 1fr 1fr;
  }

  .main__mascotas h2 {
    grid-column: 1 / 3;
  }

  /*pagina contacto tablet*/
  .contenedor__formulario form div {
    padding: 1em;
  }

  /*pagina carrito tablet*/
  .main__cesta {
    width: 90%;
  }

  .contenedor__cesta {
    width: 100%;
    grid-template-columns: 1fr;
  }
  
}

@media screen and (max-width: 560px) {

  /*header mobile*/
  .header__izq {
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    grid-template-rows: 1fr 30px;
   }

  .header__logo {
    grid-column: 1 / 4;
    justify-self: center;
  }

  .header__nombre {
    margin-left: 0;
    margin-right: 10px;
  }

  .header__navegacion {
    display: none;
  }

  .header__izq .header__menu {
    color: black;
    display: block;
    font-size: 25px;
    justify-self: center;
  }

  .header__izq .header__menu:hover {
    color: blueviolet;
  }

  .header__nombre {
    font-size: 30px;
  }

  .header__izq {
    flex-direction: column;
  }

  /*pagina inicio mobile*/
  .main__section1 {
    flex-direction: column;
    overflow: hidden;
    min-height: 60vh;
  }

  .section1__titulo {
    width: 100%;
  }

  .section1__imagen {
    width: 100%;
  }

  .section2__laterales figure {
    width: 250px;
    height: 250px;
  }

  .main__section3 {
    padding: 0;
  }

  .main__section3 p{
    font-size: 25px;
  }

  .main__section3 iframe{
    width: 100%;
  }

  .main__section4 {
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .8fr .8fr;
    height: 100%;
  }

  .main__section4 h2 {
    font-size: 20px;
    padding: 15px;
    grid-column: 1;
    justify-self: center;
  }

  /*footer mobile*/
  .footer {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /*pagina prodcutos mobile*/
  .seleccion__imagen {
    width: 250px;
    height: 250px;
  }

  .main__mascotas {
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(6, 1fr);
  }

  .main__mascotas h2 {
    grid-column: 1 / 2;
  }

  /*pagina empresa mobile*/
  .main__articulo {
    width: 100%;
  }

  .articulo__imagen {
    width: 250px;
    height: 250px;
    object-fit: contain;
  }

  /*pagina contacto mobile*/
  .main__formulario {
    width: 90%;
  }

  .contenedor__formulario {
    width: 100%;
  }

  .contenedor__formulario form {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .contenedor__formulario form .formulario--area {
    grid-column: 1 / 2;
  }

  /*pagina faqs mobile*/
  .main__preguntas {
    width: 90%;
  }

  .main__faqs {
    width: 90%;
    margin: 0 auto;
  }

  /*pagina cesta mobile*/
  .cesta__contenido {
    flex-direction: column;
  }

  .cesta__imagen {
    margin-bottom: 20px;
  }

  .cesta__contenido dl {
    margin: 10px;
  }


}