* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #F6E7D8;
}

/*header comun*/

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.header__logo img{
  border-radius: 50%;
  width: 60px;
}

.barra__navegacion .navegacion__de .navegacion-link:hover {
  color: blueviolet;
}

.barra__navegacion .navegacion__de .navegacion-link:active {
  transform: scale(1.1);
}


/*footer comun*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
  min-height: 150px;
}

.footer__izq ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.footer__izq a {
  text-decoration: none;
  color: black;
}

.footer__derecha img {
  width: 30px;
  height: 30px;
}

.secciones--color:hover {
  color: blueviolet;
}




/*pagina faqs*/

.main__preguntas {
  width: 80%;
  margin: 0 auto;
}

.main__titulo {
  margin-top: 15px;
  margin-bottom: 15px;
}

.main__faqs {
  width: 80%;
  margin: 0 auto;
}

.faqs__preguntas {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #874356;
}

.faqs__respuestas {
  margin-bottom: 20px;
  text-align: justify;
}

.faqs__respuestas ul {
  list-style: none;
}

.faqs__respuestas ul li {
  margin: 10px;
}

/*pagina cesta*/
.main__cesta {
  width: 80%;
  min-height: 70vh;
  margin: 0 auto;
}

.main__cesta h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.contenedor__cesta {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}

.cesta__contenido {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
}

.cesta__contenido dl dt {
  padding: 0 10px 0 10px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.cesta__contenido dl dd {
  text-align: center;
  font-size: 18px;
}

.cesta {
  border-radius: 10px;
  background-color: #ffead3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.cesta__imagen {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.aside__cesta {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr;
  overflow: hidden;
}

.cesta__total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cesta__total dt {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.cesta__total dd {
  font-size: 18px;
}

.total--abajo {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid black;
}

.cesta__total button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #c02425 0%, #f0cb35 75%);
}
.cesta__total button:hover {
  background-position: right center;
}
.cesta__total button:active {
  top: 2px;
}

@media screen and (max-width: 1023px) {

  

  /*pagina contacto tablet*/
  .contenedor__formulario form div {
    padding: 1em;
  }

  /*pagina carrito tablet*/
  .main__cesta {
    width: 90%;
  }

  .contenedor__cesta {
    width: 100%;
    grid-template-columns: 1fr;
  }
  
}

@media screen and (max-width: 560px) {


  /*pagina contacto mobile*/
  .main__formulario {
    width: 90%;
  }

  .contenedor__formulario {
    width: 100%;
  }

  .contenedor__formulario form {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .contenedor__formulario form .formulario--area {
    grid-column: 1 / 2;
  }

  /*pagina faqs mobile*/
  .main__preguntas {
    width: 90%;
  }

  .main__faqs {
    width: 90%;
    margin: 0 auto;
  }

  /*pagina cesta mobile*/
  .cesta__contenido {
    flex-direction: column;
  }

  .cesta__imagen {
    margin-bottom: 20px;
  }

  .cesta__contenido dl {
    margin: 10px;
  }


}