.carrito {
  width: 70%;
  min-height: 75vh;
  margin: 0 auto;

  h1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__cesta {
    display: grid;
    grid-template-columns: 4fr 220px;
    gap: 10px;

    .cesta {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__contenido {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 2em 1em;
        border-radius: 10px;
        background-color: #ffead3;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

        .cesta__imagen {
          width: 150px;
          height: 150px;
          object-fit: contain;
        }

        dl {
          dt {
            padding: 0 10px 0 10px;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            border-radius: 20px;
            @include fondo-degradado;
          }
          
          dd {
            text-align: center;
            font-size: 18px;
          }
        }
      }
    }

    .total {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 2fr;
      overflow: hidden;
      border-radius: 10px;
        background-color: #ffead3;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

      &__cesta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        dt {
          width: 100%;
          padding: 5px;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
          @include fondo-degradado;
        }

        dd {
          font-size: 18px;
        }

        button {
          min-width: 130px;
          height: 40px;
          color: #fff;
          padding: 5px 10px;
          font-family: inherit;
          font-weight: bold;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          display: inline-block;
          outline: none;
          border-radius: 5px;
          border: none;
          margin-bottom: 10px;
          background-size: 120% auto;
          background-image: linear-gradient(315deg, #c02425 0%, #f0cb35 75%);

          &:hover {
            background-position: right center;
          }
          &:active {
            top: 2px;
          }
        }       
      }

      &--abajo {
        text-align: center;
        margin-top: 20px;
        border-top: 1px solid black;
      }
    }
  }
}

















