.faqs {
  width: 70%;
  margin: 0 auto;

  &__titulo {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  &__lista {

    .lista--preguntas {
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      color: black;
      padding: 3px;
      border-radius: 10px;
      @include fondo-degradado;
    }
    
    .lista--respuestas {
      margin-bottom: 20px;
      text-align: justify;

      ul {
        list-style: none;

        li {
          margin: 10px;
        }
      } 
    }
  }
}



