.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  min-height: 150px;
  @include fondo-degradado;

  &__izq {
    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }

  &__derecha {

    a {
      display: inline-block;
      text-decoration: none;
      color: white;
      padding: 5px;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .facebook{
      background-color: map-get($iconos ,facebook);
    }

    .instagram {
      background-color: map-get($iconos, instagram);
    }

    .youtube {
      background-color: map-get($iconos, youtube);
    }
  }

  .secciones--color:hover {
    color: blueviolet;
  }
}