.seleccion {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

  &__titulo {
    color: white;
    padding: 18px;
    text-align: center;
  }

  &__tipo {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-bottom: 20px;
  }
}

.mascotas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
  margin-bottom: 40px;

  &__titulo {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 4;
    @include fondo-degradado;
  }

  &__productos {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    .productos__imagen {
      width: 300px;
      height: 300px;
      object-fit: contain;
    }

    .productos__descripcion2 {

      h5 {
        font-weight: bold;
      }

      p {
        margin-right: 5px;
      }

      @include fondo-degradado;
    }
  }
}

















